<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-..."
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>it</title>
  </head>
  <body class="Right_left_body">
    <div  class="left_add">
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fa-solid fa-hospital-user"></i>
            <p>Today's Patient</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fa-solid fa-file-waveform" style="color: #9fc2e1;"></i>
            <p style="color: #9fc2e1;">Patient Files</p>
          </a>
        </center>
      </div>

    </div>

    <div class="right">
    <input type="text" style="margin-left: 20px;" class="it_search" id="searchInput" placeholder="Search..." onkeyup="searchFunction()" />
    <center>
    
        <div class="add_pat_container" style="margin-top: 20px;">
            <h1 class="add_user_admi" >Create File:</h1> 
            <form action="/admition" method="post" autocomplete="off" autocomplete="off">
                <div>
                    <label for="patient_id">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPatient ID:</label>
                    <input type="number" id="patient_id" name="patient_id" required><br>
                    <label for="patient_name">&nbsp&nbsppatient name:</label>
                    <input type="text" id="patient_name" name="patient_name"required>
                    <br><br>
                    <label for="phone_number" style="margin-bottom: 0px;">phone number:</label>
                    <input type="number" id="phone_number" name="phone_number" style="margin-top:0;" required>
                </div>
                <button type="submit" >Create File</button>
            </form>
        </div>
    </center>
    <% files.forEach(file => { %>
        <div class="files_divvv" style="border-left: 4px solid lightgray;">
            <form action="admissionPatient" method="POST">
                <input type="hidden" name="file_id" value="<%= file.file_id %>">
                <div class="file-info " style="padding: 7px;">
                  
                  <div class="file-id"><span>ID:</span> <%= file.file_id %></div>
                  <div class="file-name"><span> Name:</span> <%= file.patient_name %></div>
                  <div class="file-phone"><span>Phone Number:</span> <%= file.phone_number %></div>
              <input type="submit" name="taskIds" value="+" class="files_button " style=" font-size: 1.5em;background-color: transparent; color: white; text-align: center;" >
  
              </div>
            </form>
        </div>
    <% }) %>
    </div>
    <script>
        function searchFunction() {
            var input, filter, files, fileDiv, fileInfos, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            files = document.getElementsByClassName("files_divvv");
            for (i = 0; i < files.length; i++) {
                fileDiv = files[i];
                fileInfos = fileDiv.getElementsByClassName("file-info")[0];
                txtValue = fileInfos.textContent || fileInfos.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    fileDiv.style.display = "";
                } else {
                    fileDiv.style.display = "none";
                }
            }
        }
    </script>
</body>  
</html>
