<h1>Scan</h1>
<center>
<ul>
  <% patient_tests.forEach(test => { %>
    <div class="test_pagee">    <li>
      <span>Test Name:</span> <%= test.scan_name %> <br> <hr>
      <span>Doctor Name:</span> <%= test.dr_id %> 
      <span>Result:</span> <a href="../file_uploads/<%= test.result %>" target="_blank" rel="noopener noreferrer" class="view_filee">View File</a> 
      <span>Patient ID:</span> <%= test.file_id %>
    </li>
  </div>

  <% }) %>
</ul>
</center>

<style>
  .test_pagee{
    width: 80vw;
    padding: 10px;
    border-radius: 15px;
    background-color: #9fc2e1;
margin-top: 20px;
  }
    body {
      font-size: 1.2em;
        font-family: Arial, sans-serif;
        background-color: white;
        color: rgb(3, 49, 92);
      }
      
    h1 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(3, 49, 92);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .view_filee {
    color: rgb(3, 49, 92);
    text-decoration: none;
    border-bottom: 1px solid rgb(3, 49, 92);
  }
  
  .view_filee:hover {
    color: rgb(3, 49, 92);
    border-bottom: 1px solid transparent;
  }
  
  /* Additional styles for better readability */
  span {
    margin-left: 30px;
    color: white;
  }
  </style>