* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.Right_left_body{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
}


.left {
    height: 600px;
    display: grid;
    grid-template-rows: 25% 25% 25%;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(3, 49, 80);
}
.left_add {
    height: 300px;
    display: grid;
    grid-template-rows: 50% 50%;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(3, 49, 80);
}


.right {
    margin: 10px;
    margin-right: 20px;
}

.right_container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.right_container h2{
color:rgb(3, 49, 92);
}
.show_today_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust as needed */
}
.today-item a{
    font-size: 0.9em;
    position: absolute;
    top: 5px;
    right: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.test_div {
    border: 1px solid #ccc;
    padding: 20px;
}

.right-side {
    grid-column: 2 / span 1; /* Place on the right side */
}

.left-side {
    grid-column: 1 / span 1; /* Place on the left side */
}

.today-item {
    position: relative;
  font-size: 1.1em;
font-weight: 400;

color: rgb(3, 49, 92);
    border-radius: 10px;
    border-left: 5px solid #ccc; /* Set left border width to 4px */
    border-top: none; /* Set top border to none */
    border-right: none; /* Set right border to none */
    border-bottom: none; /* Set bottom border to none */
    padding: 10px;
    background-color: #9fc2e1;
}
.today-item span {
color: white;
font-weight: 500;
}




.it_form {

    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 30vh;
    background-color: rgb(85, 141, 194);

}

.right_it_roles {
    color: black;
}

.left_nav {
    padding-top: 5vh;
}

.login_container {

    position: absolute;
    top: 25%;
    left: 32%;
    background-color: #9fc2e1;
    height: 50vh;
    width: 35vw;
    border-radius: 30px;

}


.login_container h1 {
    padding-top: 20px;
    font-size: 3em;
    color: rgb(3, 49, 92);
}
.task_form{
    border: 3px solid #9fc2e1;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
   width: 50vw;
   height: 40vh;
}
.task_form p{
  
    font-size: 1.3em;
    color: rgb(3, 49, 92);
    font-weight: bold;
}

.task_form select {
    font-size: 1.2em;
    text-align: center ;
    background-color:#9fc2e1;
    width: 100px;
    border: none;
    outline: none;
    color: rgb(3, 49, 92);
}
.login_error{
    font-weight: bold;
    color: red;
}

.task_form option {
background-color: #9fc2e1;
border: none;
outline: none;
padding: 4px;
color: rgb(3, 49, 92);
}
.task_form label{
font-size: 1.4em;
color: rgb(3, 49, 92);
font-weight: bold;
}

.task_under h1{
    font-weight: bold;
color: rgb(3, 49, 92);
}
.task-details {
   
    max-width: 60vw; /* Adjust this value as needed */
    word-wrap: break-word; /* Enable word wrapping */
}
.task_under div{
    position: relative;

    height: inherit;
    padding: 4px;
    font-weight: bold;
  color: rgb(3, 49, 92);
    border-radius: 5px;
    font-size: 1.1em;
    margin: 5px;
    background-color: #9fc2e1;
}
.Lab_form{
    padding: 10px;
    position: relative;
 border-radius: 10px;
border: 2px solid rgb(85, 141, 194);
    width: 45vw;
    height: 30vh;
    background-color: WHITE;
}
.Lab_form label{
    color: rgb(3, 49, 92);
    font-weight: bold;

}
.Lab_form input[type="submit"] {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgb(3, 49, 92);
    background-color: #9fc2e1;
    width: 100px;
    border: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
}
.Lab_form input[type="text"]{
background-color: #9fc2e1;
border: none ;
outline: none;
padding: 10px;
border-radius: 5px;
width: 20vw;
}
.Lab_form input[type="text"]{
    background-color: #9fc2e1;
    border: none ;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: 20vw;
    }

.custom-select {
        color: rgb(3, 49, 92);
background-color: #9fc2e1;
border: none;
outline: none;
width: 10vw;
border-radius: 10px;
text-align: center;
font-size: 1.1em;
      }
      .custom-select option{
    color: rgb(3, 49, 92);
    background-color: #9fc2e1;
    border: none;
    outline: none;
    width: 10vw;
border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
}


/* Style the icon */
.file_label i {
    margin-right: 5px;
}

.test_div{
    position: relative;
    padding: 10px;
    font-size: 1.2em;
    color: rgb(3, 49, 92);

    border-radius: 20px;
    height: 25vh;
    width: 50vw;
margin-top: 20px;
background-color:#9fc2e1;
}

.test_div span{
    margin-left:50px;
color: white;
}
.test_div input[type="submit"]{
    color: rgb(3, 49, 92);
    background-color: white;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    width: 7vw;
    padding: 5px;
    right: 10px;
    bottom: 5px;
position: absolute;
}
.view_filee{
    border-radius: 5px;
color: rgb(3, 49, 92);
padding-left: 20px;
padding-right: 20px;

    text-decoration: none;
    
}
.task_but{
    margin-bottom: 10px;
    width: 8vw;
    border: none;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
   background-color: #9fc2e1;
    text-decoration: none;
    color: rgb(3, 49, 92);
    float: right;
}
.file-container {
    margin-top: 20px;
    position: relative;
  }
  
  .file-label {
    background-color: white;
    color: rgb(3, 49, 92);
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  

.delete{
    height: 2vh;
    text-align: center;
    width: 75px;
    padding: 5px;
    border-radius: 5px;
   background-color: white;
    text-decoration: none;
    color: rgb(3, 49, 92);
    float: right;
}
.dell{
    position: absolute;
right: 5px;
    top: 37px;
    border: none;
    text-align: center;
    width:85px;
    padding: 5px;
    border-radius: 5px;
   background-color: white;
    text-decoration: none;
    color: rgb(3, 49, 92);
    font-weight: bold;
  
}
.task_under a{
    text-decoration: none;
    color: rgb(3, 49, 92);
float: right;
}
.created_by{
    position:absolute;
    text-decoration: none;

   bottom: 0;
   right: 0;
}
.task_under span{
    font-weight: 400;
    color: white;
}
.task_form input{
font-size: 1.2em;
border: none;
border-radius: 5px;
    width: 15vw;
    height: 4vh;
    outline: none;
}
.task_form textarea{
    border: none;
border-radius: 5px;
    padding: 5px;
    resize: none;
font-size: 1.2em;
height: 15vh;
    outline: none;
    width: 35vw;
    background-color: #9fc2e1;
}
.task_form button{
    color: rgb(3, 49, 92);
    font-size: 1em;
    background-color: #9fc2e1;
    border-radius: 10px;
    float: right;
    width: 8vw;
    height: 5.5vh;
    border: none;
}

.login_error{
    margin-top: 2vh;
    color: red;
    font-weight: bold;
}

.login_container input {
    outline: none;
    width: 25vw;
    height: 7vh;
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    background-color: white;
    font-size: 1.15em;
    padding-left: 10px;
}

.login_container button {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 15px;
    width: 9vw;
    height: 6vh;
    border: none;
    background-color: rgb(3, 49, 92);
}
.file-info div{
    display: inline;
}

.it_search {
    padding-left: 10px;
    width: 25vw;
    outline: none;
    height: 6.5vh;
    border: none;
    border-top: 1px solid lightgray;
    box-shadow: 1px 2px 2px grey;
    border-radius: 10px;
    margin-top: 6vh;
}

.rolee h2 {

    color: rgb(3, 49, 92);
}
.add_user_admi{
    color: rgb(3, 49, 92);
    font-size:2.2em;}
.add_user {
    font-weight: 600;
    margin-bottom: 1vh;
    color: rgb(3, 49, 92);
    margin-top: 2vh;

}
.add_pat_container{
    border-radius: 10px;    
    position: relative;
    padding: 10px;
    height: 28vh;
    width: 54vw;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #9fc2e1;
}
.add_user_container {
position: relative;
    padding: 5px;
    height: 26vh;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #9fc2e1;
}
.test_div {
    display: flex;
    margin-bottom: 20px; /* Adjust spacing between test items */
}

.left_section,
.right_section {
    flex: 1; /* Each section takes equal width */
    padding: 10px;

    border-radius: 5px;
}

.left_section {
    text-align: left;
    margin-right: 10px; /* Adjust spacing between test items */
}

.right_section {
    padding: none;
    margin-left: 10px; /* Adjust spacing between test items */
}

.files_divvv{
    height: max-content;
    position: relative;
    border-radius: 5px;    
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.3em;
    color: rgb(3, 49, 92);
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 15px;



    background-color: #9fc2e1;
}
.file-info {
    height: 6vh;
    display: grid;
    grid-template-columns: 11% 42% 37% 8%;
    grid-column-gap: 10px; /* Adjust the gap between columns as needed */
}
.file-info > div {
    border-right: 3px solid lightgrey; /* Adjust border width as needed */
    padding-right: 10px;
}
.file-info > div:last-child {
    border-right: none; /* Remove right border for the last div */
}
.files_divvv span{
    padding-left: 10px;
    font-weight: 400;

color: white;    
}
.files_divvv input[type=submit]{
    float: right;
    font-weight: bold;
color: white;
color: rgb(3, 49, 92);
    width: 6vw;

    border: none   ;
    border-radius:5px;

}

.add_pat_container label{
    font-weight: bold;
    padding-left: 20px;
    color: rgb(3, 49, 92);
    font-size: 1.3em;
}
.add_pat_container input{
    width: 16vw;
    padding-left: 5px;
    margin-top: 15px;
    outline: none;
    height: 5vh;
    border-radius: 5px;
    background-color: #9fc2e1;
    border: none;
    font-size: 1em;
}
.add_pat_container button{
    bottom: 5px;
    right: 5px;
    position: absolute;
    border: none;
    border-radius: 5px;
    color:white;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(3, 49, 92);
}

.rolee label {
    font-weight: bold;
    padding-left: 20px;
    color: rgb(3, 49, 92);
    font-size: 1.3em;
}

.rolee input[type="radio"] {
    display: none;
    /* Hide the actual radio buttons */
}

.rolee input[type="radio"]+label {
    padding-left: 25px;
    cursor: pointer;
}

/* Style for radio button when selected */
.rolee input[type="radio"]:checked+label::before {
    content: "\2022";
    /* Bullet point as the radio button */
    color: rgb(3, 49, 92);
    font-size: 1.5em;
    padding-right: 5px;
}

/* Style for radio button labels */
.rolee label::before {
    content: "\25CB";
    /* Empty circle as the radio button */
    font-size: 1.5em;
    padding-right: 5px;
}

/* Adjust styles as needed */

.add_user_container label {
    font-weight: bold;
    padding-left: 20px;
    color: rgb(3, 49, 92);
    font-size: 1.3em;
 
}

.add_user_container input:not([type="radio"]) {
    width: 20vw;
    padding-left: 5px;
    margin-top: 5px;
    outline: none;
    height: 5vh;
    border-radius: 5px;
    background-color: #9fc2e1;
    border: none;
    font-size: 1em;
}


.add_user_container option {
    width: 7vw;
    background-color: #9fc2e1;
    color: rgb(3, 49, 92);
    font-weight: bold;

}

.add_user_container select {
    padding: 3px;
    width: 7vw;

    border: none;
    border: 1px solid rgb(3, 49, 92);

    background-color: #9fc2e1;
    color: rgb(3, 49, 92);
    font-weight: bold;

}

.it_form_data {
    color: rgb(3, 49, 92);
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.5em;
    outline: none;
    height: 4vh;
}

.it_form_button {
position:absolute;
bottom:4px;
right:4px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    float: right;
    width: 10vw;
    height: 6vh;
    color: rgb(3, 49, 92);
    background-color: #9fc2e1;
}

i {
    color: white;
    font-size: 2.5em;
}

.left_nav p {
    padding-top: 10px;
    color: white;
}

.find_button {
    height: 50px;
    width: 50px;
    background-color: #9fc2e1;
    font-size: 3eqx m;
    border: none;
    border-radius: 10px;
    float: right;
    color: rgb(3, 49, 92);
}

.today_grid_area {

    margin-top: 15px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.today_grid_area h1 {
    color: rgb(3, 49, 80);
}

.it_show_users {
    
    padding:10px;
    
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    color: rgb(3, 49, 92);
    background-Color: #9fc2e1;
    font-Weight: bo;
    border-Radius: 10;
    margin: 10px;
    box-Shadow: 2px 3px 2px grey;
}
.namess{
    display: inline;
color: white;
}
.show_user_buttom{
    color: white    ;
    font-size: 2em;
    border: none;
    background-color: #9fc2e1;
}
.addmittion_container{
   background-color: black; 
}